<!DOCTYPE html>
<html>
<% include ../partials/header %>

  <body>
    <% include ../partials/navbar %>

      <div class="container">
        <h1>Create Animal</h1>

        <form method="POST" action="/animals/create">
          <input type="text" name="species" placeholder="Species"/>
          <input type="text" name="nickName" placeholder="Nickname"/>
          <input type="text" name="status" placeholder="Status"/>
          <input type="date" name="createDate" placeholder="Date"/>

          <input type="Submit" value="Submit"/>
        </form>
      </div>

      <% include ../partials/scripts %>
  </body>

</html>