<!DOCTYPE html>
<html>
<% include ../partials/header %>

  <body>
    <% include ../partials/navbar %>

      <div class="container">
        <h1>Animals</h1>

        <a href="/animals/create">Create a new animal</a>

        
        <table class="table">

          <% for (let i=0; i < animals.length; i++) { %>
            <tr>
              <td><%= animals[i].species %></td>
              <td><%= animals[i].nickName %></td>
              <td><%= animals[i].status %></td>
            </tr>
          <% } %>
  
        </table>

      </div>

      <% include ../partials/scripts %>
  </body>

</html>