<!doctype html>
<html lang="en">

<% include ./partials/header %>

  <body>

    <% include ./partials/navbar %>

      <div class="container">
        <h1>Hi <%=locals.user.firstName %> <%=locals.user.lastName %></h1>
    
        <a href="/animals">Manage animals</a><br>

        <% if(locals.user.role === 'Admin') { %>
          <a href="/users">Manage users</a>
        <% } %>

            <% include ./partials/scripts %>
  </body>

</html>