<!doctype html>
<html lang="en">

<% include ./partials/header %>

  <body>

    <% include ./partials/navbar %>

      <div class="container">
        <h1>Hi <%=locals.user.firstName %> <%=locals.user.lastName %></h1>
    


            <% include ./partials/scripts %>
  </body>

</html>