<!DOCTYPE html>
<html>
<% include ../partials/header %>

    <body>
        <% include ../partials/navbar %>

            <div class="container">

                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Update User</h1>

                    <form action="/users/update" method="post">

                        <input type="hidden" name="id" value="<%=data._id%>" />

                        <div class="form-group">
                            <label>Email</label>
                            <input required type="text" class="form-control" name="email" value="<%=data.email%>">
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input required type="text" class="form-control" name="firstName" value="<%=data.firstName%>">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input required type="text" class="form-control" name="lastName" value="<%=data.lastName%>">
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select required type="text" class="form-control" name="role">
                                <% if (data.role === 'Data Entry Specialist') { %>
                                    <option selected>Data Entry Specialist</option>
                                <% } else { %>
                                    <option>Data Entry Specialist</option>
                                <% } %>
                                <% if (data.role === 'Quality Control') { %>
                                    <option selected>Quality Control</option>
                                <% } else { %>
                                    <option>Quality Control</option>
                                <% } %>                               
                                <% if (data.role === 'Admin') { %>
                                    <option selected>Admin</option>
                                <% } else { %>
                                    <option>Admin</option>
                                <% } %>                             
                            </select>                        
                        </div>
                        <div class="form-group">
                            <p>If you specify a password, the users password will be changed.</p>
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Update</button>
                    </form>
                </div>
            </div>


            <% include ../partials/scripts %>

    </body>

</html>